.body {
  background: grey;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-inverse {
  height: 120px;
}

.navbar-brand-centered {
  position: absolute;
  left: 20px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  font-size: 50px;
  margin-top: 35px;
}

img.animated-gif {
  width: 500px;
  height: auto;
}

.jumbotron {
  text-align: center;
}

.benefits {
  margin-top: 25px;
  text-align: center;
}

.glypicon-large {
  font-size: 100px;
}

legend {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

form {
  font-size: 20px;
}
