body {
  font-family: "adam";
  color: white;
  background: black;
}

@font-face {
  font-family: "adam";
  src: url("../fonts/ADAM.CG PRO.otf");
}

.navbar {
  margin-bottom: 0px;
  background: black;
}

.navbar-inverse {
  height: 120px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-brand-centered {
  position: absolute;
  left: 20px;
  width: 100%;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
}

img.animated-gif {
  width: 500px;
  height: auto;
  margin-top: 5px;
}

.jumbotron {
  text-align: center;
  background: #868685;
}

.benefits {
  text-align: center;
}

.glypicon-large {
  font-size: 100px;
}

legend {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
}

#Donate {
  color: white;
}

form {
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
}
