body {
  font-family: "adam";
  color: white;
  background: black;
  font-size: 20px;
}

@font-face {
  font-family: "adam";
  src: url("../fonts/ADAM.CG PRO.otf");
}

.navbar {
  margin-bottom: 0px;
  background: black;
}

.navbar-inverse {
  height: 120px;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-size: 2em;
}

.navbar-brand-centered {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.navbar-default .navbar-text {
  color: white;
}

img.animated-gif {
  max-width: 100%;
  height: auto;
  margin-top: 5px;
}

.jumbotron {
  text-align: center;
  background: #868685;
}

.benefits {
  text-align: center;
}

.glypicon-large {
  font-size: 100px;
}

legend {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
}

#Donate {
  color: white;
}

form {
  font-weight: bold;
  font-size: 18px;
  margin: 5px 0px 20px 0px
}
